go 1.25.5

// Common modules.
// This list is alphabetical and should not be reordered.
use (
	./colors
	./fingerprint
	./guesstermwidth
	./iata
	./kingkong
	./limiter
	./log
	./middleware
	./ptr
	./ringbuffer
	./router
	./startstopper
	./text
	./version
)

// Common tools.
// This list is alphabetical and should not be reordered.
use (
	./tools/protoc-gen-go-gin
	./tools/protoc-gen-go-struct
)
